<div class="welcome-box">
  <section class="left-side">

    <div class="col-md-3 col-sm-6">
      <div class="box15">
        <%= image_tag  "dog_jump.gif", id: 'welcome-image' %>
        <div class="box-content">
          <% if current_user %>
            <h3 id="title-1" class="title"><%= link_to "My Songs", song_path(@song) %></h3>
          <% else %>
            <h3 id="title" class="title"><%= link_to "Sign in with Google", "/auth/google" %></h3>
          <ul class="icon">
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section "right-side">
    <div class="storybots-image-box">
      <div class="storybots-image" id="bot-1">

      </div>
      <div class="storybots-image" id="bot-2">

      </div>
      <div class="storybots-image" id="bot-3">

      </div>
      <div class="storybots-image" id="bot-4">

      </div>
      <div class="storybots-image" id="bot-5">

      </div>
      <div class="storybots-image" id="bot-6">

      </div>
    </div>
  </section>
</div>
