<div class="welcome-box">
  <div class="col-md-3 col-sm-6">
    <div class="box15">
      <img id='welcome-image'src="http://robohash.org/1111" alt="">
      <div class="box-content">
        <h3 class="title"><%= link_to "Sign in with Google", "/auth/google" %></h3>
        <ul class="icon">
        </ul>
      </div>
    </div>
  </div>
</div>
