<div class="welcome-box">
  <div class="col-md-3 col-sm-6">
    <div class="box15">
      <%= image_tag  "dog_jump.gif", id: 'welcome-image' %>
      <div class="box-content">
        <% if current_user %>
          <h3>Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
        <% else %>
          <h3 id="title" class="title"><%= link_to "Sign in with Google", "/auth/google" %></h3>
        <ul class="icon">
        </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
