<h2>Songs!</h2>

<div class="button-box">
  <button id="speed-alert" onclick="getPlaySpeed()" type="button">What is the playback speed?</button>
  <button id="set-speed" onclick="setPlaySpeed()" type="button">Set audio to be play in slow motion</button><br>
</div>

<div class="audio-box">
  <audio id="myAudio" controls>
    <source src="https://s3.us-east-2.amazonaws.com/slowyrroll/HWzXAevRLkQ8Gf1TLUVii3W8"</source>
  </audio>
</div>


<script>
  var audio = document.getElementById("myAudio");

  function getPlaySpeed() {
      alert(audio.playbackRate);
  }

  function setPlaySpeed() {
      audio.playbackRate = .25;
  }
</script>
