<h1>Songs#index</h1>
<h2>Songs!</h2>
<% @songs.each do |song| %>
  <audio controls>
    <source src="https://s3.us-east-2.amazonaws.com/slowyrroll/34kSJEkNzgyhA52F8SMjwf8q"</source>
  </audio>
<% end %>
